<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="UPeUEventoPU" transaction-type="RESOURCE_LOCAL">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <class>pe.edu.upeu.modelo.CpAlumno</class>
    <class>pe.edu.upeu.modelo.CpJustificacion</class>
    <class>pe.edu.upeu.modelo.CpAsistencia</class>
    <class>pe.edu.upeu.modelo.CpPeriodo</class>
    <class>pe.edu.upeu.modelo.CpExonerados</class>
    <class>pe.edu.upeu.modelo.CpActividad</class>
    <class>pe.edu.upeu.modelo.CpUsuario</class>
    <class>pe.edu.upeu.modelo.CpAlumnoPeriodo</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.jdbc.url" value="jdbc:mysql://localhost:3306/eventos?zeroDateTimeBehavior=convertToNull"/>
      <property name="javax.persistence.jdbc.password" value=""/>
      <property name="javax.persistence.jdbc.driver" value="org.mariadb.jdbc.Driver"/>
      <property name="javax.persistence.jdbc.user" value="root"/>
    </properties>
  </persistence-unit>
</persistence>
