<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
    <property name="hibernate.connection.driver_class">org.mariadb.jdbc.Driver</property>
    <!--        <property name="hibernate.connection.url">jdbc:mysql://ec2-50-19-213-178.compute-1.amazonaws.com:3306/sys_contable?zeroDateTimeBehavior=convertToNull</property>-->
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/eventosh?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">root</property>
    <property name="hibernate.connection.pool_size">1</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <property name="show_sql">true</property>
    <!--        <property name="hbm2ddl.auto">update</property>-->
    <!--        <property name="hbm2ddl.auto">create</property>-->
    <mapping class="pe.edu.upeu.modelo.CpAlumno"/>
    <mapping class="pe.edu.upeu.modelo.CpJustificacion"/>
    <mapping class="pe.edu.upeu.modelo.CpAsistencia"/>
    <mapping class="pe.edu.upeu.modelo.CpPeriodo"/>
    <mapping class="pe.edu.upeu.modelo.CpExonerados"/>
    <mapping class="pe.edu.upeu.modelo.CpActividad"/>
    <mapping class="pe.edu.upeu.modelo.CpUsuario"/>
    <mapping class="pe.edu.upeu.modelo.CpAlumnoPeriodo"/>
    <mapping class="pe.edu.upeu.utils.IdGenerator"/>
  </session-factory>
</hibernate-configuration>
